.textarea-w{padding:0 5px;border:1px solid #c3e6e4;position:relative;}
.textarea-w .stint-chac{color:#9c9c9c;display:none;position:absolute;right:-1px;top:-30px;border:1px solid #c3e6e4;background:white;border-bottom:0;line-height:29px;height:29px;padding:0 10px;font-size:12px;}
.textarea-w .textarea{padding:5px;border:0;position:relative;margin-left:-5px;height:21px;overflow:hidden;width:100%;vertical-align:top;}
