<footer>
    <section class="footer" id="footer">
        <div class="g-m-w">
            <div class="copyright">
                <p>广州市大洋信息技术股份有限公司 版权所有</p>
                <p>Copyright © 2015 ITDAYANG. All Rights Reserved. {{caseNumber}}</p>
            </div>
            <div class="footer-link">
                <a href="http://www.itdayang.com/about.html" target="_blank">关于我们</a>
                <span> - </span>
                <a href="http://www.itdayang.com/contact.html" target="_blank">联系我们</a>
                <span> - </span>
                <a href="javascript:;" ng-click="atBuilding()">法律条款</a>
                <span> - </span>
                <a href="javascript:;" ng-click="atBuilding()">帮助中心</a>
                <span> - </span>
                <a href="javascript:;" ng-click="atBuilding()">学校申请加入</a>
                <span> - </span>
                <a href="javascript:;" ng-click="atBuilding()">机构申请加入</a>
                <span> - </span>
                <a href="javascript:;" ng-click="atBuilding()">意见反馈</a>
            </div>
            <div class="clear"></div>
        </div>
    </section>
</footer>